@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* calendar-styles.css */
/* calendar-styles.css */

.event-card-container {
  height: 400px;
  width: 400px;
  overflow-x: auto;
  overflow-y: auto;
}

.event-card-footer {
  display: flex;
  justify-content: space-between;

  margin-top: 16px;
}

.event-card-text {
  font-size: 14px;

  margin-bottom: 16px;

  font-weight: normal;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
